<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.td_horoscope">

    <uses-permission
        android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.CHANGE_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 写入扩展存储，向扩展卡写入数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".base.MainBaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="${app_name_channel}"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Td_horoscope"
        android:usesCleartextTraffic="true"

        tools:replace="android:allowBackup,android:label">
        <activity android:name=".ui.activity.DealActivity"   android:launchMode="singleTop"  android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.activity.AboutActivity" android:launchMode="singleTop"    android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SettingActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
        <activity android:name=".ui.activity.PlateIndexActivity"   android:launchMode="singleTop"  android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.PlateDocumentActivity"  android:launchMode="singleTop"  android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.AlloyPlateActivity"   android:launchMode="singleTop" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.ZodiacActivity"   android:launchMode="singleTop" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.BeginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppStartTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ZgDreamActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            >

        </activity>
        <activity
            android:name=".ui.activity.QQTestActivity"
            android:launchMode="singleTop" />

        <meta-data
            android:name="CHANNEL"
            android:value="${CHANNEL_VALUE}" />
        <meta-data
            android:name="APP_NAME"
            android:value="${app_name_channel}" />
    </application>

</manifest>